.rightbar {
  flex: 3.5;
}

.rightbar-wrapper {
  padding: 20px 20px 0 0;
}

.birthday-container {
  display: flex;
  align-items: center;
  background-color: rgba(194, 194, 194, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.birthday-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthday-text {
  font-size: 15px;
  font-weight: 300;
}

.rightbar-ad-img {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
  cursor: pointer;
}

.rightbar-friend-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rightbar-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rightbar-info {
  margin-bottom: 30px;
}
.rightbar-info-item {
  margin-bottom: 10px;
}

.rightbar-info-key {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}
.rightbar-info-value {
  font-weight: 400;
}
.rightbar-followings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rightbar-following {
  display: flex;
  flex-direction: column;
  margin: 10px;
  cursor: pointer;
}
.rightbar-following-img {
  width: 100px;
  height: 100px;

  border-radius: 5px;
  object-fit: cover;
}
.rightbar-following-name {
  margin-top: 10px;
}
